setenvs.sh
.idea/*
*.log
/etc/pmta/config
.vscode/*
.DS_Store
debug*.eml
debug*.txt
# exclude real certs and keys
*.pem
c.out
# exclude local build binaries
cmd/acct_etl/__debug_bin
cmd/tracker/__debug_bin
cmd/feeder/__debug_bin
cmd/wrapper/__debug_bin
# local test files
setenvs.sh
trk_queue.sh
example*.eml
smt.code-workspace
debug.test
linktool

